Source: ros-indigo-keyboard
Section: misc
Priority: extra
Maintainer: v01d <phreakuencies@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libruby1.9.1, libsdl1.2-dev, ros-indigo-catkin, ros-indigo-message-generation, ros-indigo-roscpp, ros-indigo-std-msgs, ruby1.9.1, ruby1.9.1-dev
Homepage: http://wiki.ros.org/keyboard
Standards-Version: 3.9.2

Package: ros-indigo-keyboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsdl1.2-dev, ros-indigo-message-runtime, ros-indigo-roscpp, ros-indigo-std-msgs
Description: publishes keyboard key presses
